* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: cadetblue;
    padding: 5%;
    margin: 0 auto;
}

.pages {
    padding: 10%;
    margin: 5%;
    background-color: lightblue;
    transition: margin-left .5s;
    padding: 30px;
    text-align: justify;
}

.sideNav {
    height: 100%;
    width: 0; /* init, ubah width pake JS*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: teal;
    overflow: hidden; /*disable horizontal scroll*/
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a {
    padding: 12px 24px;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    background-color: cadetblue;
}

#closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    margin-left: 50px;
}

#openbtn {
    position: fixed;
    left: 0;
    top: 0;
    background-color: teal;
    padding: 10px;
}

#openbtn:active {
    background-color: royalblue;
}

@media screen and (max-height: 450px) {
    .sideNav {
        padding-top: 15px;
    }
    .sideNav a {
        font-size: 18px;
    }
}

