* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: cadetblue;
    padding: 5%;
    margin: 0 auto;
}

.pages {
    padding: 20px;
    margin: 20px;
    background-color: lightblue;
}

.sideNav {
    height: 100%;
    width: 0; /* init, ubah width pake JS*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: palevioletred;
    overflow: hidden; /*disable horizontal scroll*/
    padding-top: 60px;
    transition: 0.5s;
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.2em;
    color: purple;
    display: block;
    transition: 0.3s;
}

.sideNav a:hover {
    background-color: royalblue;
}

.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.pages {
    transition: margin-left .5s;
    padding: 20px;
}


@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
}

#openbtn {
    position: fixed;
    left: 0;
    top: 0;
}